body{
    overflow: hidden;
    height: 100vh;
    background-color: #62374e;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10em;
    align-items: center;
    padding-left: 25%;
}
div.square{
    background-color: #fdc57b;
    width: 70px;
    height: 70px;
}