body{
    height: 97vh;
    background: linear-gradient(0deg, rgba(219,112,147,1) 0%, rgba(237,180,184,1) 100%);
    gap: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}
button {
    appearance: none;
    background-color: transparent;
    border: 0.1875em solid #FFFF;
    border-radius: 0.25em;
    box-sizing: border-box;
    color: #FFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: 700;
    line-height: normal;
    margin: 0;
    width: 11.25em;
    height: 3.9375em;
    outline: none;
    padding: 1em 2.3em;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
   }
   button:disabled {
    pointer-events: none;
   }
   button:hover {
    color: #db7093;
    background-color:#FFFF;
    transform: translateY(-0.125em);
   }
   button:active {
    box-shadow: none;
    transform: translateY(0);
   }