body{
    height: 100vh;
    background-color: #F2F2B6;
    display: flex;
    gap: 10em;
    align-items: center;
    justify-content: center;
}
div.triangledown{
  width: 0; 
  height: 0; 
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-top: 80px solid #FF6D00;
}


div.triangleup{
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 80px solid #FF6D00;
}